
/*-------
# Default css
-----------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  background: #000133;

  
}

a {
  color: #47b2e4;
}

a:hover {
  color: #D2A31A;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Jost", sans-serif;
}
p {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
}

/*--------- Back to top button ----------*/

.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #0DCB3C;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #10439D;
  color: #fff;
}


/*---------Header ----------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

#header.header-scrolled, #header.header-inner-pages {
  background: #014282d8;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  width: 61px;
}
/*---------Navigation ----------*/
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #fff;
  transition: 0.3s;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #0DCF32;
}

/*---------Button ----------*/

.get-started-btn {
  margin-left: 25px;
    color: #fff;
    border-radius: 50px;
    padding: 6px 13px 7px 15px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
    border: 2px solid #0DCB3C;
    font-weight: 600;
    background-color: #0DCB3C;
}

.get-started-btn:hover {
  background: #10439D;
  border: 2px solid #10439D!important;
  color: #fff;
}
a.btn-scroll.scrollto.buy i {
  margin-top: 56px;
  font-size: 31px;
}
@media (max-width: 768px) {
  .get-started-btn {
    margin: 0 74px 0 0;
    padding: 5px 7px;
    font-size: 8px;
    display: none;
    
  }
}

.get-started-buy-btn {
    color: #fff;
    border-radius: 50px;
    padding: 6px 13px 7px 15px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
    border: 2px solid #0DCB3C;
    font-weight: 600;
    background-color: #0DCB3C;
}

.get-started-buy-btn:hover {
  background: #10439D;
  border: 2px solid #10439D!important;
  color: #fff;
}
a.btn-scroll.scrollto.home i {
  margin-top: 56px;
  font-size: 31px;
}
@media (max-width: 768px) {
  .get-started-buy-btn {
    margin-top: 13px;
    padding: 5px 7px; 
    font-size: 8px; 

  }

}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  top: 20px;
  right: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #061c44;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: white;
  padding: 10px 20px;
  font-weight: 600;
  outline: none;
  text-transform: uppercase;
  font-size: 15px;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #0DCF32;
  text-decoration: none;
 
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(40, 58, 90, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}


/*--------- Home Sections ----------*/
.bg-video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
 
}
video {
  min-width: 100%;
  min-height: 100vh;
  z-index: 1;
}
.hero-overlay {
  background-image:linear-gradient(to bottom right, #002f4bd1, #080c10);
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 15% 32px;
  line-height: 1.5;
  text-align: center;
}
.bg-video-wrap .winter {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  position: absolute;
  top: -190px;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  width: 155px;
}
.bg-video-wrap h1 {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  line-height: 56px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  max-width: 400px;
  width: 100%;
  height: 50px;
}
.bg-video-wrap p{
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 700;
  position: absolute;
  top: 126px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  width: 100%;
  height: 50px;
}

 .winterbtn a {
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 700;
  position: absolute;
  top: 126px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  width: 100%;
  height: 50px;
}



.home{
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 700;
  position: absolute;
  top: 176px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  width: 100%;
  height: 50px;
}
#hero {
  width: 100%;
  height: 100vh;

}

#hero .container {
  padding-top: 72px;
}


#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 70vh;
    text-align: center;
  }

}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

a.btn-scroll.scrollto.home {
  transition: 0.4s;
  color: rgba(255, 255, 255, 0.6);
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
}

a.btn-scroll.scrollto.home i {
  font-size: 32px;
  margin-top: 24px;
}

#hero .btn-scroll:hover {
  color: #0DCB3C;
}


/*---------Sections ----------*/
section {
  padding: 60px 0;
  overflow: hidden;

}

.section-bg {
  background-color: #f3f5fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}


/*---------About----------*/
.about .content h1 {
  font-weight: bold;
  margin-bottom: 16px;
  background: linear-gradient(to right, #fefeff 0%, #ffffff 100%);
  -webkit-background-clip: text;
  font-family: "Jost", sans-serif;
  font-size: 5vw;
  margin-top:14%;

}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background: none;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.header-content{
  font-weight: bold;
  font-size: 55px;
  line-height: 60px;
  margin-bottom: 16px;
  background: linear-gradient(to right, #1136a9 0%, #0fdc13 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#token p{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: white;
}

/*---------Coin Walet----------*/

.walet {
  background-size: rgb(15, 3, 49);

}
.walletbuy {
margin-top: 100px;
}

.walet p{
  margin-bottom: 10px;
}
.preview {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
}
.preview:hover {
  cursor: pointer;
}
.preview:hover img {
  transform: scale(1.2);
  transition: all 0.4s ease;
}
.preview:hover .img-overlay {
  opacity: 0.7;
  transition: all 0.5s ease;
}
.preview:hover .overlay-txt {
  bottom: 60px;
  font-size: 24px;
}
.preview:hover figcaption {
  left: 0px;
  opacity: 1;
  transition: all 0.5s ease;
  font-size:16px;
}

.preview img {
  margin-bottom: 10;
  transition: all 0.4s ease;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-overlay {
  display: flex;
  align-items: flex-start;
  position: absolute;
  opacity: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  background: black;
  transition: all 0.5s ease;
}

figcaption {
  opacity: 0;
  width: 100%;
  top: 30%;
  left: 0;
  color: white;
  font-size: 1.5rem;
  padding: 20px;
  text-align: center;
  transition: all 0.5s ease;
}

.overlay-txt {
  position: absolute;
  width: 100%;
  bottom: 40px;
  padding: 10px;
  margin: -5px 0 0;
  font-weight: 600;
  text-align: center;
  font-size: 24px;
  color: white;
  transition: all 0.5s ease;
  z-index: 1;
}

@media (max-width: 470px) {
  .preview img{
    height: 70vh;
    text-align: center;
    margin-bottom: 20px;
   
  }
}

/*---------features----------*/

.tartarus {
  font-size: 22px;
  font-weight: 600;
  height: 100%;
  color: white;
  padding: 15px;  
  padding-bottom: 40px;
  background: linear-gradient(
    359deg
    , rgb(13 203 60), rgb(1 56 118) 48%) no-repeat;

}
.tartarus  a{
  font-size: 18px;
  color: white;
  padding: 40px;
}

.tartarus p {
  padding: 40px;
  font-size: 22px;
}

.tartarus h2{
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 0;
  margin-left: 39px;
}

.img_box {
  overflow: hidden;
/* margin-top: 50px; */

}
.img_box a {
  position: relative;
  display: block;
}
.img_box h2 {
  position: absolute;
    z-index: 1;
    bottom: 60%;
    top: 39%;
    right: 44%;

}
.img_box h2 i {
  font-size: 21px;
  background: #001146;
  color: #fff;
  line-height: 2;
  padding: 11px 0;
  border-radius: 50%;
  text-align: center;
  width: 60px;
  height: 60px;
 
}

.img_box img {
  width: 100%;
  transition: all 0.5s;

}

.img_box:hover img {
  opacity: 0.8;
  transform: scale(1.2, 1.2);
}

.walet p{
  color: white;
}
.walet i, a{
color: #0DCE36;
}

/*---------nfts----------*/
#nfts p{
  color: white;
  font-size: 19px;
  margin-bottom: 45px;
  
}
.important-text{
  font-weight: bold;
  font-size: 20px;
  background: linear-gradient(to right, #007bff 0%, #0fdc13 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nfts-poseidon {
  margin-top: 70px;

}
/*---------Footer----------*/
#footer {
  font-size: 15px;
  background: #001146;
  padding: 50px;
  color: #fff;
}
#footer .social-connected a {
  font-size: 17px;
  display: inline-block;
  border: 2px solid #e0e0e02b;
  color: #fff;
  line-height: 1;
  padding: 10px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

#footer  .social-connected a:hover {
  border: 2px solid #000133;
  color: #0FD01E;
  text-decoration: none;
  transition: all 0.5s;
}

.social-connected{
  float: right;
}

/* @media (max-width: 468px) {
  a.btn-scroll.scrollto.home i {
    margin-top: 27px;
    font-size: 23px;
  }
} */
@media only screen and (max-width: 600px) {
  a.btn-scroll.scrollto.home i {
    margin-top: 27px;
    font-size: 23px;
  }
}

/*---------Responsive ----------*/
@media (max-width: 768px) {
  .nfts-poseidon {
   width: 100%;
   margin-top: 15px;
  }
  .nfts-zeus {
    width: 100%;
  }

  .header-content{
    font-size: 30px;
    line-height: 37px;
  }
  .about h4{
    font-size: 18px;
  }
  .about .content h1{
   font-size: 25px;
  }
  #token p{
    font-size: 18px;
  }
  .tartarus p {
    font-size: 16px;
  }
  .tartarus h3{
    font-size:21px ;
    margin-bottom: 0px;
  }
  .tartarus {
    margin-top: 20px;
  }

  .img_box{
    margin-top: 40px;
  }

  #header .logo img {
    width: 43px;
    margin-top: -4px;
}

.social-connected{
  float: left;
}

/* a.btn-scroll.scrollto.home i {
  margin-top: 27px;
  font-size: 23px;
} */

.walletbuy{
margin-bottom: 0px;
}

.bg-video-wrap p{
font-size: 15px;
}
.bg-video-wrap h1{
font-size:35px ;
padding-top: 10px;
}
.bg-video-wrap .winter{
  width: 137px;
  padding-top: 53px;
}
.img_box h2{
  top: 46%;
  right: 44%;
}
.img_box h2 i {
    font-size: 19px;
    background: #001146;
    color: #fff;
    line-height: 2;
    padding: 4px 0;
    border-radius: 50%;
    text-align: center;
    width: 45px;
    height: 45px;
}
}


